/*目次
＠サイドバー
＠アコーディオンメニュー
＠パンくずリスト
＠メインエリア：大見出し
*/

body {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

.main {
    width: 1140px;
    display: block;
    background: #000000;
    color: white;
    padding: 40px 30px;
}

.sidebar {
    width: 300px;
    background: #D9D9D9;
    color: #000000;
}

.margin{
  margin-bottom: 20px;
}

.sidebarSticky{/*固定*/
  position: sticky;
  z-index: 1;
  margin-bottom: 0;
  top: 10px;
}

/*アコーディオンメニュー*/
.accordion {
    margin: 0;
    max-width: 60vw;
    }
    .toggle {
    display: none;
    }
    .option {
    position: relative;
    margin-bottom: 1em;
    }
    .title,
    .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
    }
    .title {
    border: none;
    padding: 0.5em 1.3em;
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    }
    .title::after,
    .title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 0.7em;
    width: 2px;
    height: 0.75em;
    background-color: #999;
    transition: all 0.3s;
    }
    .title::after {
    transform: rotate(90deg);
    }
    .content {
    max-height: 0;
    overflow: hidden;
    }
    .content p {
    margin: 0;
    padding: 0.7em 2em 1.5em;
    font-size: 0.9em;
    line-height: 1.5;
    }
    .toggle:checked + .title + .content {
    max-height: 500px;
    transition: all 1.5s;
    }
    .toggle:checked + .title::before {
    transform: rotate(90deg) !important;
    }

/*このゼミについて・アンケート*/
.minilist{
    font-weight: bold;
    font-size: 15px;
    list-style: none;
    padding-inline-start: 1.8em;
    margin: 30px 0;
}
.minilist li{
    padding: 1.2em 0;
}

/*twitterアイコン*/
.fa-twitter{
    margin-top: 30px;
    font-size:  35px;
}

/*パンくずリスト*/
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  
  .breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
    color: white;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: white;/*文字色*/
    font-size: 13px;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }

  /*メインエリア：大見出し*/
  .titleArea{
    margin-top: 30px;
    display: inline-block;
  }
  .titleIcon{
    position: relative;
    border-radius: 100%;
    border: solid 1px white;
    padding: 5px;
    width: 60px; height: 60px; 
    display: inline-block;
    vertical-align: top;
  }
  .bigTitle{
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    width: 750px;
    margin-left: 30px;
  }
  .bigTitle p{
    font-size: 13px;
    font-weight: normal;
    line-height: 2;/*行間*/
  }

  .titleNumber{/*contentページは丸内数字（01,02,03など）*/
    font-size: 25px;
    font-weight: bold;
    /*上下中央揃え*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -17px;
  }

  .fa-hashtag{/*タイトルページのみ丸内はハッシュタグ*/
    font-size: 36px;
    /*上下中央揃え*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -12px;
  }