/*目次
＠メニュー（タイル）
*/

.tileArea{/*親要素*/
    display: inline-block;
    margin: 70px 40px;
}
.tile{
    display: inline-block;
    width: 360px;
    padding: 28px 35px 50px 35px;
    margin: 0 60px 50px 0;
    border: solid 3px white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}
.tile p{
    font-weight: normal;
    font-size: 13px;
    padding-top: 20px;
    line-height: 2;/*行間*/
}
.tileNumber{/*01,02,03などの数字*/
    font-size: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 1.3em;
}
.tileNumber:before{/*数字の下線*/
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 13px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: white;
}

.fa-angle-right{/* ＞ ←このマーク*/
    font-size: 18px;
    margin-left: 20px;
}